.main-footer {
    &__howTeamWork {
        background-color: $secondary;
        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 4rem;
            padding-bottom: 4rem;
            @media (max-width:$mobileBig) {
                display: block;
            }
            &__left {
                display: flex;
                align-items: center;
                position: relative;
                padding-left: 3rem;
                @media (max-width:$mobileBig) {
                    display: block;
                    padding-left: 0;
                }
                &::before {
                    width: 1.5rem;
                    height: 100%;
                    position: absolute;
                    content: '';
                    left: 0;
                    top: 0;
                    background: $primary;
                    @media (max-width:$mobileBig) {
                        display: none;
                    }
                }
                &__title {
                    color: $white;
                }
                &__text {
                    color: $white;
                    margin-left: 2rem;
                    @media (max-width:$tablet) {
                        font-size: $default-font-size;
                    }
                    @media (max-width:$mobileBig) {
                        margin-left: 0;
                        font-size: $medium-font-size;
                    }
                }
            }
        }
    }
    &__bot {
        background: $black;
        padding: 5rem 0 3rem 0;
        h2 {
            @media (max-width:$mobile) {
                font-size: $large-font-size;
            }
        }
    }
}




.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    .social-item {
        $size: 5rem;
        width: $size;
        height: $size;
        background: rgba($color: $white, $alpha: 0.07);
        margin-left: 1rem;
        margin-right: 1rem;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        @include prefix(border-radius, 50%, moz webkit ms);
        border: rgba($color: $white, $alpha: 0.07) solid 1px;

        &.facebook {
            &:hover {
                background: #4267B2;
            }
        }
        &.twitter {
            &:hover {
                background: #1DA1F2;
            }
        }
        &.youtube {
            &:hover {
                background: #FF0000;
            }
        }
        &.instagram {
            &:hover {
                // background: #d6249f;
                // background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
                background: #f09433; 
                background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
                background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
                background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
                border: none;
            }
        }
    }
}

.footer-links {
    margin-bottom: 1rem;
    ul {
        li {
            display: inline-block;
            position: relative;
            &::before {
                width: 1px;
                height: 1.5rem;
                @include contentOjc_lr0;
                background: #7F7D7D;
                left: auto;
                right: -2px;
                top: 5px;
            }
            a {
                color: #7F7D7D;
                padding: 0 1rem;
                font-size: 1.5rem;
                &:hover {
                    color: $primary;
                }
            }
            &:last-child {
                &::before {
                    display: none;
                }
            }
        }
    }
}

.copyright-text {
    color: #7F7D7D;
    font-size: 1.5rem;
    margin-bottom: 0;
}