// COLORS
$primary                        : #FF9609;
$primary-light                  : #ffb350;
$primary-medium                 : #ffa32b;
$primary-dark                   : #ee8700;

$secondary                      : #052B3D;
$secondary-medium               : #07354a;
$secondary-light                : #093e56;

$tertiary                       : #FF7C81;

$dark                           : #243B6B;
$grey                           : #868B9A;
$success                        : #60bc50; 
$error                          : #FF7C81;

$white                          : #fff;
$black                          : #000;
$link                           : #5983F0;

$body-bg-color                  : #fff;


$img-placholder-bg              : #f0f3f8;

// Typography colors
$heading-color                  : $black;
$default-text-color             : $black;

// FONT FAMILY
$font-family-primary            : 'Poppins', sans-serif;

// FONT SIZES
$tiny-font-size                 : 1.2rem;
$small-font-size                : 1.4rem;
$default-font-size              : 1.5rem; 
$medium-font-size               : 1.8rem; 
$large-font-size                : 2rem;
$big-font-size                  : 2.2rem;

// FONT WEIGHT
$weight-light                   : 300;
$weight-regular                 : 400;
$weight-medium                  : 500;
$weight-semibold                : 600;
$weight-bold                    : 700;
$weight-extrabold               : 800;
$weight-black                   : 900;

// GRID
$grid-width                     : 114rem;
$gutter-vertical                : 8rem;
$gutter-horizontal              : 6rem;
$gutter-horizontal-1            : 1rem;
$gutter-horizontal-2            : 2rem;
$gutter-horizontal-4            : 4rem; 

$gutter-vertical-small          : 6rem;
$gutter-vertical-2              : 2rem;

$scrollbarWidth                 : 0.4rem;
$scrollbar-thumb                : $primary;


// Viewports
$macbook	                    : 1920px;
$desktop_xxl	                : 1600px;
$desktop_xl		                : 1440px;
$laptop			                : 1366px;
$desktop		                : 1200px;
$desktopMedium	                : 1199px; 
$desktopSmall	                : 1024px;
$tablet			                : 992px;
$iPhoneX		                : 812px;
$tabletSmall	                : 768px;
$mobileBig		                : 767px;
$mobileMed		                : 600px;
$mobile			                : 480px;
$mobileSmall	                : 375px;
$mobileExSmall	                : 320px;



// Rotate
$mobileSmallRotate              : 480px;
$iphone6_7                      : 667px;
$iphoneXRotate                  : 375px;
$iphoneX                        : 812px;


//Form
$input-border-color             :#dcd9d9;


// Line-Heights
$lineHeight_1half               :1.2;


// Paths
$primary-font-path              : "../webfonts";
$base-image-path                : "../images";