.nav {
    &.nav-tabs {
        &.default {
            border: none;
            display: flex;
            justify-content: center;
            .nav-item {
                .nav-link {
                    color: #171717;
                    font-size: 1.8rem;
                    margin-bottom: 0;
                    border: transparent solid 1px;
                    text-transform: uppercase;
                    padding-left: 1.5rem;
                    padding-right: 1.5rem;

                    &.active {
                        border: $primary solid 1px;
                        background: $primary-light;
                        @include prefix(border-radius, 0.3rem, moz webkit ms);
                    }
                }
            }
        }
    }
}
