body {
	font-family: $font-family-primary;
	font-size: $default-font-size;
	color: $default-text-color;
	font-weight: $weight-regular; 
}

h1, h2, h3, h4 {
	font-family: $font-family-primary;
	margin:0 0 1rem 0;
	line-height: 1.3;
	color: $heading-color;
	font-weight: $weight-semibold;
}

h1 { 
	font-size: 4rem; 
}

h2 { 
	font-size: 3.5rem; 
	@media (max-width:$tablet) {
		font-size: 2.8rem; 
	}
	@media(max-width:$mobileBig) {
		font-size: 2.6rem;
	}
}

h3 { 
	font-size: 2.6rem; 
	@media(max-width:$mobileBig) {
		font-size: 2rem;
	}
}

h4 { 
	font-size: 2rem; 
	@media(max-width:$mobileBig) {
		font-size: 1.6rem;
	}
}

h5 { 
	font-size: 1.6rem; 
}

p {
	font-size: $medium-font-size;
	color: $default-text-color;
	line-height: 1.8;
	margin-bottom: 1.5rem;
	&.nmb { 
		margin-bottom: 0; 
	}
	&.white { 
		color:#fff; 
	}
}

ul {
	margin:0;
	padding:0;
}


.size11 {font-size: 1.1rem !important;}
.size12 {font-size: 1.2rem !important;}
.size13 {font-size: 1.3rem !important;}
.size14 {font-size: 1.4rem !important;}
.size15 {font-size: 1.5rem !important;}
.size16 {font-size: 1.6rem !important;}
.size18 {font-size: 1.8rem !important;}
.size20 {font-size: 2rem !important;}


.text-dark {
	color: $heading-color !important;
}
.text-success {
	color: $success !important;
}
.text-danger {
	color: $error !important;
}
.text-primary {
	color: $primary !important;
}
.text-black {
	color: $black !important;
}

.text-default {
	color: $default-text-color !important;
}

// font-weight
.font-light {
	font-weight: 300;
}
.font-regular {
	font-weight: 400;
}
.font-medium {
	font-weight: 500;
}
.font-semibold {
	font-weight: 600;
}
.font-bold {
	font-weight: 700;
}
.font-extrabold {
	font-weight: 800;
}
.font-black {
	font-weight: 900;
}

.text-underline {
	text-decoration: underline !important;
}

.lineHeight_1 {
	line-height: 1;
}

.lineHeight_normal {
	line-height: normal;
}

br {
	@media (max-width:$tablet) {
		display: none;
	}
}


.block-content {
	@media (max-width:$mobileBig) {
		text-align: center;
	}
}